.h {
  background: #FCC6C6;
  font-family: Nautilus;
  font-size: 59px;
  display: inline;
  margin: 0 auto;
}

.headerLine {
  text-align: center;
  display: inline;
  font-size: 45px;
  position: relative;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: Nautilus;
  z-index: 2;
}

.headerLine:before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -5%;
  right: 0;
  height: 5px;
  width: 110%;
  background: #A176FF;
  z-index: -1;
}

section {
  overflow: hidden;
}

.hr {
  width: 30px;
  border: 1px solid #200524;
  margin: 30px auto;
}

input::-webkit-input-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}

input::-webkit-input-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: CenturyGothic;
  min-width: 320px;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic.ttf");
}

@font-face {
  font-family: "Nautilus";
  src: url("../fonts/ofont.ru_Nautilus Pompilius.ttf");
}

@font-face {
  font-family: "CenturyGothicB";
  src: url("../fonts/GOTHICB.TTF");
}

a {
  color: #000000;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

a:hover {
  cursor: pointer;
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

.main_navigation {
  display: none;
}

.button_toggle {
  display: none;
}

/*******************************************************
  FIRST PAGE
  ***************************************************/
.pannel {
  margin-top: 50px;
  -webkit-box-shadow: -12px 10px 49px -20px rgba(0, 0, 0, 0.62);
          box-shadow: -12px 10px 49px -20px rgba(0, 0, 0, 0.62);
}

.pannel .rightSide .input {
  height: 340px;
  font-size: 20px;
  color: #fff;
}

.pannel .rightSide .input::-webkit-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.pannel .rightSide .input:-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.pannel .rightSide .input::-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.pannel .rightSide .input::placeholder {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.pannel .input h3 {
  font-family: Nautilus;
  text-align: center;
  font-size: 50px;
}

.pannel .input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pannel .input input {
  margin: 5px 0;
  -webkit-box-shadow: inset 0 -1px 0 0 #615078;
          box-shadow: inset 0 -1px 0 0 #615078;
  outline: none !important;
  width: 230px;
  padding: 10px 0;
  height: 23px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: CenturyGothic;
  background: transparent;
  border-width: none;
  border-style: none;
  border-color: none;
  -o-border-image: none;
     border-image: none;
}

.pannel .input .btn {
  position: relative;
  width: 138px;
  height: 37px;
  background: #fff;
  color: #615078;
  margin-top: 55px;
  padding: 5px 15px;
  top: 0px;
  left: 0px;
  font-size: 20px;
  font-family: CenturyGothic;
  cursor: pointer;
}

.pannel .input p {
  margin: 0;
  margin-top: 9px;
}

#imageGallery li {
  width: 300px !important;
}

#imageGallery li img {
  width: 100% !important;
}

.social {
  width: 165px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social .item {
  width: 30px;
  height: 30px;
  margin: 20px 0;
}

.social .tw {
  background: url(../img/tw.png) no-repeat 50% 0%;
  background-size: contain;
}

.social .fb {
  background: url(../img/fb.png) no-repeat 50% 0%;
  background-size: contain;
}

.social .inst {
  background: url(../img/in.png) no-repeat 50% 0%;
  background-size: contain;
}

.social .yout {
  background: url(../img/you.png) no-repeat 50% 0%;
  background-size: contain;
}

.button {
  display: block;
  width: 80px;
  padding: 13px 45px;
  border-radius: 25px;
  background: #fff;
}

.wrapMain {
  width: 1400px;
  margin-left: 12%;
}

.pannelAppear {
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

header {
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 5;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  width: 100%;
}

header .logo {
  background: url(../img/logo.png) no-repeat center;
  background-size: contain;
  width: 184.5px;
  height: 137px;
  margin-left: 80px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0 80px;
}

header ul li {
  padding: 23px 35px 23px 35px;
  margin: 45px 0;
  font-size: 17.5px;
  font-weight: bold;
  list-style: none;
  font-family: CenturyGothicB;
  text-transform: uppercase;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  cursor: pointer;
  color: #615078;
}

header ul li:hover {
  -webkit-box-shadow: inset 0 -1px 0 0 #615078;
          box-shadow: inset 0 -1px 0 0 #615078;
}

.first {
  width: 100%;
  height: 75VH;
  background: url(../img/8050.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #200524;
}

.first .wrap {
  margin-left: 80px;
  font-size: 2vw;
  padding-top: 100px;
  margin-left: 80px;
}

.first .head {
  font-family: Nautilus;
  font-size: 4vw;
  display: block;
  position: relative;
  z-index: 2;
}

.first .head:before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  background: #A176FF;
  z-index: -1;
}

.first a {
  margin-top: 25px;
  font-size: 16px;
  border: 2px solid #A176FF;
  background: transparent;
}

.first hr {
  width: 30px;
  border: 1px solid #200524;
  margin: 15px auto 25px auto;
}

.first p {
  display: block;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.second {
  width: 100%;
  height: 25VH;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.second > div {
  padding: 50px;
}

.second h2 {
  font-size: 30px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.second h2 p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding: 15px 0;
}

.second .black {
  width: 30%;
  background: #200524;
  color: #fff;
}

.second .yellow {
  width: 70%;
  background: url(../img/fon_pod_gradient_2_22-02.jpg) no-repeat center;
  background-size: cover;
}

.third .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.third .about h2 {
  margin: 0 auto;
}

.third .about .wrap {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third .about .wrap .photo {
  width: 730px;
  height: 550px;
  margin-right: 145px;
  background: #FCC6C6;
}

.third .about .wrap .header {
  width: 600px;
  margin: 85px 0;
  font-size: 65px;
}

.third .about .wrap p {
  width: 500px;
  font-size: 25px;
}

.fourth {
  padding-top: 50px;
  background: url(../img/onas.jpg) no-repeat center;
  background-size: cover;
}

.fourth hr {
  width: 30px;
  border: 1px solid #200524;
  margin: 15px auto 15px auto;
}

.fourth .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding: 0 30px;
  text-align: center;
}

.fourth .after {
  margin-bottom: 50px;
}

.fourth .facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.fourth .facts .fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px;
}

.fourth .facts .fact .number {
  font-size: 50px;
  text-shadow: 6px -1px 0px #A176FF;
  font-family: Nautilus;
}

.fourth .facts .fact .text {
  width: 200px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth .facts .fact .text > div {
  display: inline;
}

.fourth .facts .fact .text .black {
  font-weight: bold;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 174px;
}

.portfolio .wrapper-owl-portfolio {
  margin-top: 100px;
  width: 100%;
  height: 650px;
}

.review {
  background: url(../img/fon_pod_gradient_2_22-02.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.review hr {
  border: 1px solid #fff;
}

.review .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  padding-bottom: 15px;
}

.review .head {
  text-align: center;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-family: Nautilus;
}

.review .underHead {
  font-size: 17px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  text-align: center;
}

.review .textReview {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

.review .profileImage {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  margin-bottom: 20px;
  border-radius: 50%;
}

.review .review1 {
  background: url(../img/review1.png) no-repeat center;
  background-size: cover;
}

.review .review2 {
  background: url(../img/review2.png) no-repeat center;
  background-size: cover;
}

.review .review3 {
  background: url(../img/review3.png) no-repeat center;
  background-size: cover;
}

.review .review4 {
  background: url(../img/review4.png) no-repeat center;
  background-size: cover;
}

.review .review5 {
  background: url(../img/review5.png) no-repeat center;
  background-size: cover;
}

.review .name {
  font-size: 17px;
  text-align: center;
  margin-bottom: 8px;
}

.review .occupation {
  font-size: 9px;
  text-align: center;
  padding-bottom: 110px;
}

.review .owl-theme .owl-dots {
  padding-bottom: 30px;
}

.review .owl-theme .owl-dots .owl-dot span {
  border: 2px solid #fff;
  width: 14px;
  height: 14px;
}

.review .owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
}

.contacts {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.contacts .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .text .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 65px;
}

.contacts .text .description .logoSmall {
  width: 190px;
  height: 50px;
  background: red;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 62px;
}

.contacts .text .description .text {
  width: 250px;
  text-align: justify;
  margin: 0;
  padding-bottom: 30px;
}

.contacts .text .description .button {
  width: 190px;
  padding: 15px 0;
  border-radius: 25px;
  background: red;
  text-align: center;
}

.contacts .text .adress .border {
  padding-left: 60px;
  border-left: 1px solid black;
}

.contacts .text .adress .con {
  font-size: 27px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding-bottom: 30px;
  padding-top: 70px;
  padding-left: 60px;
}

.contacts .text .adress .telephone {
  padding-top: 25px;
}

.contacts .text .adress .email {
  display: block;
}

.contacts .text .adress .sd {
  margin-top: 25px;
}

.contacts .text .social {
  padding-left: 60px;
  width: 216px;
  margin-top: 30px;
  position: initial;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .text .social .item {
  margin: 0 12px;
}

.contacts .text .social .item:first-child {
  margin-left: 0;
}

.contacts .form .con {
  font-size: 27px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding-bottom: 20px;
  padding-top: 70px;
}

.contacts .form form input {
  width: 600px;
  padding: 7px;
  outline: none;
  margin-top: 10px;
  background: red;
  border: none;
  color: white;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel .wrapper-owl {
  width: 85%;
  margin: 0 auto;
}

.carousel .goldLine {
  width: 1150px;
  height: 708px;
  position: absolute;
}

.carousel .lineGold1 {
  background: url(../img/goldAbove.png) no-repeat center;
  background-size: cover;
  z-index: 4;
  top: -38%;
  left: -24%;
}

.carousel .lineGold2 {
  background: url(../img/goldBeneath.png) no-repeat center;
  background-size: cover;
  top: -21%;
  left: -28%;
}

.carousel .label {
  font-size: 59px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  right: -10%;
  z-index: 4;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .label span {
  background: #FCC6C6;
  font-family: Nautilus;
}

.carousel .label span:first-child {
  margin-left: 30px;
}

.carousel .item .wrap {
  margin-left: 0;
}

.carousel .item .wrap .image {
  background: rgba(60, 22, 110, 0.54902);
  text-align: center;
  font-size: 10em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 22px;
  height: 22px;
  background: transparent;
  border: 4px solid #615078;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #615078;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -85px;
  position: relative;
}

#fp-nav {
  position: absolute;
  left: 0px;
  right: 0;
  width: 165px;
  bottom: 0px;
  height: 80px;
  margin-top: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fp-nav ul {
  width: 30px;
  border: 4px solid #615078;
  height: 70px;
  border-radius: 20px;
}

#fp-nav ul li {
  margin-left: 8px;
}

#fp-nav ul li a.active span {
  background: #615078;
}

.scroll {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (max-width: 1883px) {
  .carousel .wrapper-owl {
    width: 85%;
  }
}

@media screen and (max-width: 1633px) {
  .wrapMain {
    margin-left: 8%;
  }
  .carousel .wrapper-owl {
    width: 75%;
  }
  .label {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 1553px) {
  .wrapMain {
    margin-left: 6%;
  }
  .carousel .wrapper-owl {
    width: 65%;
  }
}

@media screen and (max-width: 1400px) {
  .wrapMain {
    width: 100%;
    margin-left: 5%;
  }
  .carousel .wrapper-owl {
    width: 62%;
  }
  .label {
    font-size: 42px !important;
  }
}

@media screen and (max-width: 1300px) {
  .second .about {
    padding-top: 100px;
  }
  .second .about .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second .about .wrap .photo {
    margin: 0 auto;
  }
  .second .about .wrap p {
    width: 70%;
    margin: 50px auto;
    text-align: center;
  }
  .second .about .wrap .header {
    width: auto;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
  }
  .second .about .wrap .photo {
    height: 300px;
  }
}

@media screen and (max-width: 1215px) {
  header ul li {
    font-size: 14px;
    padding: 23px 25px 23px 25px;
  }
}

@media screen and (max-width: 1115px) {
  header ul li {
    font-size: 12px;
  }
}

@media screen and (max-width: 1025px) {
  .goldLine {
    display: none;
  }
  header ul {
    display: none;
  }
  .pannel {
    width: 400px;
    height: 460px;
    right: 0;
  }
  .pannel .leftSide {
    width: 40px;
    left: -40px;
  }
  .pannel .rightSide {
    padding-right: 0;
  }
  .pannel .rightSide .input {
    width: 300px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2.5px solid #615078;
  }
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousel .goldenLine {
    width: 609px;
    height: 508px;
  }
  .carousel .label {
    position: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 25px;
    display: inline;
    margin: 20px auto;
  }
  .carousel .label span {
    margin-left: 0 !important;
  }
  .main_navigation {
    display: block;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(96, 80, 120, 0.68);
    width: 45%;
    height: 100%;
    text-align: center;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    z-index: 100;
  }
  .scroll {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .main_navigation ul {
    margin-top: 21.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-padding-start: 0px;
  }
  .main_navigation ul li {
    font-size: 15px;
    font-family: CenturyGothic;
    list-style: none;
    color: white;
    padding: 50px 35px 0px 35px;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .main_navigation ul li a {
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .button_toggle {
    display: block;
    position: fixed;
    width: 40px;
    height: 36px;
    right: 30px;
    top: 35px;
    background: transparent;
    z-index: 321;
  }
  .button_toggle span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 12px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background: white;
  }
  input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    margin-top: 0px;
  }
  input[type="checkbox"]:checked + span {
    background: transparent;
  }
  input[type="checkbox"]:checked + span:after {
    transform: rotate(-45deg) translate(-4px, 16px);
    -o-transform: rotate(-45deg) translate(-4px, 16px) !important;
    -moz-transform: rotate(-45deg) translate(-4px, 16px) !important;
    -ms-transform: rotate(-45deg) translate(-4px, 16px) !important;
    -webkit-transform: rotate(-45deg) translate(-4px, 16px) !important;
  }
  input[type="checkbox"]:checked + span:before {
    transform: rotate(45deg) translate(-1px, -12px);
    -o-transform: rotate(45deg) translate(-1px, -12px) !important;
    -moz-transform: rotate(45deg) translate(-1px, -12px) !important;
    -ms-transform: rotate(45deg) translate(-1px, -12px) !important;
    -webkit-transform: rotate(45deg) translate(-1px, -12px) !important;
  }
  .button_toggle span:before, .button_toggle span:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: white;
  }
  .button_toggle span:before {
    top: 12px;
  }
  .button_toggle span:after {
    top: -12px;
  }
  #fp-nav {
    top: 90%;
  }
  .wrapMain {
    margin-left: 0;
  }
  .second .about {
    padding-top: 50px;
    margin-top: 20px;
  }
  .second .about .h {
    position: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 25px;
    display: inline;
  }
  .second .about .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second .about .wrap .photo {
    margin: 0 auto;
    height: 200px;
    width: 70%;
  }
  .second .about .wrap p {
    width: 70%;
    margin: 25px auto;
    font-size: 25px;
    text-align: center;
  }
  .second .about .wrap .header {
    width: auto;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
  }
  .second .about .wrap .photo {
    height: 300px;
  }
  .logo {
    position: initial;
    margin: 0 auto;
    padding: 20px 0;
    z-index: 100;
  }
  .social {
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .social .item {
    padding: 0 20px;
    margin: 20px;
  }
  .second .about .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second .about .wrap .header {
    width: 90%;
    margin: 0 auto;
  }
  .second .about .wrap .wrap {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
  .third .portfolio {
    padding-top: 50px;
    margin-top: 20px;
  }
}

@media screen and (orientation: landscape) {
  .main_navigation ul li {
    padding: 30px 35px 0px 35px !important;
  }
}

@media screen and (max-width: 653px) {
  .wrapMain {
    display: none;
  }
  .pannel {
    display: none;
    position: initial;
    margin-top: 20px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .pannel .leftSide {
    display: none;
  }
}

@media screen and (max-width: 553px) {
  .carousel .label {
    margin: 20px !important;
  }
  .carousel .wrapper-owl {
    width: 98%;
  }
  .h {
    font-size: 20px !important;
  }
  .pannel {
    width: 310px;
    height: 380px;
  }
  .pannel .leftSide {
    width: 25px;
    left: -25px;
  }
  .second .about .wrap p {
    width: 90%;
    margin: 0 auto;
  }
}

.pulse {
  margin: 38px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #615078;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 #615078;
          box-shadow: 0 0 0 #615078;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.pulse:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 80, 120, 0.61);
            box-shadow: 0 0 0 0 rgba(97, 80, 120, 0.61);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(97, 80, 120, 0);
            box-shadow: 0 0 0 20px rgba(97, 80, 120, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 80, 120, 0);
            box-shadow: 0 0 0 0 rgba(97, 80, 120, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 80, 120, 0.61);
            box-shadow: 0 0 0 0 rgba(97, 80, 120, 0.61);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(97, 80, 120, 0);
            box-shadow: 0 0 0 20px rgba(97, 80, 120, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(97, 80, 120, 0);
            box-shadow: 0 0 0 0 rgba(97, 80, 120, 0);
  }
}
/*# sourceMappingURL=main.css.map */