.menu, .section2 .row .textAlign, .section10 .row .textAlign {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1 {
  margin: 0px;
  padding-bottom: 40px;
  padding-top: 40px; }

.orange {
  margin-top: 20px;
  width: 80%;
  padding: 15px;
  background: #EA5515;
  margin: 0 auto;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease; }
  .orange:hover {
    background: #ff4d00; }

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.6;
  font-family: "Gothic", sans-serif;
  overflow-x: hidden;
  margin: 0;
  text-align: center; }
  body .mainSection {
    width: 100%; }

.menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#ed5f25), to(#65C4DF));
  background-image: -webkit-linear-gradient(left, #ed5f25, #65C4DF);
  background-image: -o-linear-gradient(left, #ed5f25, #65C4DF);
  background-image: linear-gradient(to right, #ed5f25, #65C4DF); }
  .menu > div {
    font-weight: bold;
    padding: 20px 10px;
    color: #EA5515;
    -webkit-transition: color  0.7s ease;
    -o-transition: color  0.7s ease;
    transition: color  0.7s ease; }
    .menu > div:hover {
      background: #EA5515;
      color: #fff;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      cursor: pointer; }

.section0 {
  width: 100%;
  height: 590px;
  background: url(../img/ch.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }
  .section0 .ship {
    position: absolute;
    top: 260px;
    left: 185px;
    width: 220px;
    height: 126px;
    -webkit-animation: ship-trave 16s linear infinite;
            animation: ship-trave 16s linear infinite;
    background: url(../img/VVV.png) no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    z-index: 100; }
  .section0 .car {
    position: absolute;
    width: 159px;
    height: 72px;
    top: 383px;
    right: 271px;
    -webkit-animation: car-trave 18s linear infinite;
            animation: car-trave 18s linear infinite;
    background: url(../img/VVVV.png) no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    z-index: 100; }
  .section0 .text {
    font-size: 25px;
    font-weight: bold;
    width: 350px;
    background: #E8EAEA;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 30px;
    text-align: center;
    position: absolute;
    right: 100px;
    top: 20%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .section0 .text .img {
      width: 100%;
      height: 20px;
      margin-top: 10px;
      background: url(../img/number.png) no-repeat center;
      -webkit-background-size: contain;
              background-size: contain; }

@-webkit-keyframes ship-travel {
  0% {
    left: 185px; }
  100% {
    left: -30%; } }

@keyframes ship-travel {
  0% {
    left: 185px; }
  100% {
    left: -30%; } }

@-webkit-keyframes car-travel {
  0% {
    right: 511px; }
  100% {
    right: -30%; } }

@keyframes car-travel {
  0% {
    right: 511px; }
  100% {
    right: -30%; } }

.section1 {
  position: relative; }
  .section1 .dotes3 {
    width: 286px;
    height: 258px;
    position: absolute;
    left: 0;
    top: -10px;
    background: url(../img/dotes3.png) no-repeat center; }
  .section1 .row > div span {
    display: block;
    text-align: justify;
    padding: 30px; }
  .section1 .row > div div {
    width: 100%;
    height: 200px;
    background: #65C4DF;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  .section1 .syringe {
    background: url(../img/syringe.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }

.section2 {
  background: #243745;
  color: #fff;
  padding-top: 65px;
  position: relative; }
  .section2 .dotes2 {
    width: 293px;
    height: 48px;
    position: absolute;
    left: 8px;
    bottom: 80px;
    background: url(../img/dotes2.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
  .section2 .row {
    margin-top: 25px;
    padding-bottom: 65px;
    padding-top: 25px; }
  .section2 .text {
    font-size: 15px; }
  .section2 form {
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    border: 3px solid #EA5515;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    display: block; }
    .section2 form placeholder {
      color: red; }
    .section2 form .info:first-child {
      margin-top: 5px; }
    .section2 form .info {
      display: block;
      margin-top: 20px;
      width: 100%;
      outline: none;
      border: none;
      background: #65C4DF;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      font-size: 1em;
      padding: 15px 0px 15px 10px; }
      .section2 form .info::-webkit-input-placeholder {
        color: #fff;
        font-size: 1em; }
    .section2 form .submit {
      display: block;
      margin-top: 20px;
      width: 100%;
      outline: none;
      background: white;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      color: black;
      font-size: 1em;
      border: none;
      padding: 15px; }

.section3 .dotes {
  width: 158px;
  height: 229px;
  position: absolute;
  right: 0;
  background: url(../img/dotes.png);
  -webkit-background-size: cover;
          background-size: cover; }

.section3 .fullWidth {
  padding: 45px 0px;
  background: #65C4DF; }
  .section3 .fullWidth .wrap {
    width: 70%;
    margin: 0 auto;
    padding: 35px 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .section3 .fullWidth .wrap .blockFirst {
      color: #fff;
      background: #243745;
      padding: 15px 35px;
      -webkit-border-radius: 15px;
              border-radius: 15px; }

.section4 .map {
  width: 100%;
  height: 500px; }

.section5 {
  background: #65C4DF;
  height: 200px; }
  .section5 .wrap {
    position: relative;
    top: 50px;
    height: 150px;
    background: #243745;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .section5 .wrap .orange {
      color: #fff;
      cursor: pointer; }

.section6 h1 {
  padding-left: 24%; }

.section6 .row > div span {
  display: block;
  text-align: justify;
  padding: 30px; }

.section6 .row > div div {
  width: 100%;
  height: 200px;
  background: #65C4DF;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.section6 .syringe {
  background: url(../img/syringe.png) no-repeat 50% 10%;
  -webkit-background-size: contain;
          background-size: contain; }

.section7 {
  height: 150px; }
  .section7 .wrap {
    height: 150px;
    background: #243745;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .section7 .wrap .orange {
      color: #fff;
      cursor: pointer; }

.section8 h1 {
  padding-left: 24%; }

.section8 .row > div span {
  display: block;
  text-align: justify;
  padding: 30px; }

.section8 .row > div div {
  width: 100%;
  height: 200px;
  background: #65C4DF;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.section8 .chip {
  background: url(../img/chip1.png) no-repeat 50% 10%;
  -webkit-background-size: 60% 60%;
          background-size: 60%;
  -webkit-animation: chip 1s ease infinite;
          animation: chip 1s ease infinite; }

.section9 {
  width: 100%;
  height: 950px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .section9 h1 {
    font-weight: normal; }
  .section9 .blocks {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0; }
    .section9 .blocks .block1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 40%;
      height: 200px;
      background: #65C4DF;
      margin: 0 50px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      font-size: 18px;
      padding: 15px; }
    .section9 .blocks .block2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      vertical-align: center;
      width: 20%;
      height: 200px;
      background: #65C4DF;
      margin: 0 100px;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
      .section9 .blocks .block2 .image {
        width: 70%;
        height: 70%;
        margin: 0 auto;
        margin-top: 10%;
        background: url(../img/syringeLogo.png) no-repeat center;
        -webkit-background-size: contain;
                background-size: contain; }
    .section9 .blocks:first-child {
      margin-top: 0; }

.section10 {
  background: #243745;
  color: #fff;
  padding-top: 65px;
  position: relative; }
  .section10 .dotes2 {
    width: 293px;
    height: 48px;
    position: absolute;
    left: 8px;
    bottom: 80px;
    background: url(../img/dotes2.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
  .section10 .row {
    margin-top: 25px;
    padding-bottom: 65px;
    padding-top: 25px; }
  .section10 .text {
    font-size: 15px; }
  .section10 form {
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    border: 3px solid #EA5515;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    display: block; }
    .section10 form placeholder {
      color: red; }
    .section10 form .info:first-child {
      margin-top: 5px; }
    .section10 form .info {
      display: block;
      margin-top: 20px;
      width: 100%;
      outline: none;
      border: none;
      background: #65C4DF;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      font-size: 1em;
      padding: 15px 0px 15px 10px; }
      .section10 form .info::-webkit-input-placeholder {
        color: #fff;
        font-size: 1em; }
    .section10 form .tets {
      font-size: 1em; }
    .section10 form input {
      font-size: 1em; }
    .section10 form .submit {
      display: block;
      margin-top: 20px;
      width: 100%;
      outline: none;
      background: white;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      color: black;
      font-size: 1em;
      border: none;
      padding: 15px; }

@-webkit-keyframes chip {
  0% {
    background: url(../img/chip1.png) no-repeat 50% 10%;
    -webkit-background-size: 60% 60%;
            background-size: 60%; }
  50% {
    background: url(../img/chip2.png) no-repeat 50% 10%;
    -webkit-background-size: 60% 60%;
            background-size: 60%; } }

@keyframes chip {
  0% {
    background: url(../img/chip1.png) no-repeat 50% 10%;
    -webkit-background-size: 60% 60%;
            background-size: 60%; }
  50% {
    background: url(../img/chip2.png) no-repeat 50% 10%;
    -webkit-background-size: 60% 60%;
            background-size: 60%; } }

.wrapperMenu {
  display: none; }

@media screen and (max-width: 1883px) {
  .menu {
    margin-top: -19px; } }

@media screen and (max-width: 1507px) {
  .section9 .blocks .block1 {
    font-size: 16px; } }

@media screen and (max-width: 1207px) {
  .section9 .blocks .block1 {
    font-size: 14px; } }

@media screen and (max-width: 1000px) {
  .wrapperMenu {
    display: block !important; }
  .menu {
    display: none !important; }
  .flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .orange {
    font-size: 25px; }
  .section1 .row > div span {
    font-size: 25px; }
  .section1 .row > div div {
    width: 30%;
    margin: 0 auto; }
  .section2 .dotes2 {
    display: none; }
  .section2 .row span {
    font-size: 25px;
    padding-top: 30px; }
  .section2 form {
    font-size: 2em; } }
