@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: "neue_l"; /* Имя шрифта */
    src: url("fonts/neue_l.ttf") format("truetype"); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: "neue"; /* Имя шрифта */
    src: url("fonts/neue.ttf") format("truetype"); /* Путь к файлу со шрифтом */
   }

S