@media screen and (max-width: 892px){
header .logo {
    margin-left: 4px;
}

header .menu {
    margin-right: 4px;
}
}

@media screen and (max-width: 763px){

header {
    height: 145px;
    flex-direction: column;
    justify-content: space-around;
}

header .logo {
height:100px;
margin-left:20px;
  }

  header .menu {
margin-left:31px;
  }

header .menu ul {
display:none;
}

header .logo span.first_text {
padding-top: 19px;
  }

.wrapper{
  display: block;
  position:fixed;
width:55px;
height:50px;

    background:rgba(44, 44, 43, 0.5);;
    z-index: 3;
    border-radius: 3px;
        right: 22px;
    top: 23px;
    transition:0.3s ease;
}

.wrapper_small {
    right: 20.5px;
    top: 27.5px;
    width: 45px;
    height: 45px;
}

 .main_navigation{
    display: block;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    
    background:rgba(44, 44, 43, 0.8);
    width: 45%;
    height: 100%;
    text-align: center;
    transform: translateX(-110%); 
    transition: transform 0.6s ease;
    z-index: 100;
    scroll-behavior: 
  }


  .scroll{
    transform: translateX(0%);
  }

header .main_navigation ul {
  margin-top:21.5px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  -webkit-padding-start: 0px;
}

header .main_navigation ul li{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  list-style:none; 
  color:white;
  padding:50px 35px 0px 35px;
  cursor:pointer;
  transition: 0.4s ease;
}

header .main_navigation ul li a{
  color:white;
  font-family: neue_l;
  letter-spacing: 1.5px;
}

.button_toggle{
  display:block;
    position:fixed;
    width:40px;
    height:36px;
    right:30px;
    top:35px;
    background: transparent;
    z-index:321;
  }

  .button_toggle  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    margin-top:12px;
    transition: all 0.1s;
    background: white;
  }

  input[type="checkbox"]{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    margin-top:0px;

  }

  input[type="checkbox"]:checked + span:after{
    transform: rotate(-45deg) translate(-4px, 16px);
    -o-transform:rotate(-45deg) translate(-4px, 16px) !important; 
    -moz-transform: rotate(-45deg) translate(-4px, 16px) !important; 
    -ms-transform: rotate(-45deg) translate(-4px, 16px) !important; 
    -webkit-transform: rotate(-45deg) translate(-4px, 16px) !important; 
  }

  input[type="checkbox"]:checked + span:before{
    transform: rotate(45deg) translate(-1px, -12px);
    -o-transform: rotate(45deg) translate(-1px, -12px) !important; 
    -moz-transform: rotate(45deg) translate(-1px, -12px) !important; 
    -ms-transform: rotate(45deg) translate(-1px, -12px) !important; 
    -webkit-transform: rotate(45deg) translate(-1px, -12px) !important; 
  }

  input[type="checkbox"]:checked + span{
    background: transparent;
  }

  .button_toggle span:before, .button_toggle span:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: black;
    transition: all 0.3s;
        background: white;
  }

  .button_toggle span:before{
    top:12px;
  }

  .button_toggle span:after{

    top:-12px;  
  }

}

@media screen and (orientation:landscape) {
.main_navigation ul li {

    padding: 30px 35px 0px 35px !important;
}
  }

@media screen and (max-width: 892px){
header .logo {
    margin-left: 4px;
}

header .menu {
    margin-right: 4px;
}
}

@media screen and (max-width: 763px){

header {
    height: 145px;
    flex-direction: column;
    justify-content: space-around;
}

header .logo {
height:100px;
margin-left:20px;
	}

	header .menu {
margin-left:31px;
	}

header .menu ul {
display:none;
}

header .logo span.first_text {
padding-top: 19px;
	}

.wrapper{
	display: block;
	position:fixed;
width:55px;
height:50px;

    background:rgba(44, 44, 43, 0.5);;
    z-index: 3;
    border-radius: 3px;
        right: 22px;
    top: 23px;
    transition:0.3s ease;
}

.wrapper_small {
    right: 20.5px;
    top: 27.5px;
    width: 45px;
    height: 45px;
}

 .main_navigation{
		display: block;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    
    background:rgba(44, 44, 43, 0.8);
    width: 45%;
    height: 100%;
    text-align: center;
    transform: translateX(-110%); 
    transition: transform 0.6s ease;
    z-index: 100;
    scroll-behavior: 
	}


	.scroll{
		transform: translateX(0%);
	}

header .main_navigation ul {
	margin-top:21.5px;
	display:flex;
	justify-content: center;
	flex-direction: column;
	-webkit-padding-start: 0px;
}

header .main_navigation ul li{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	list-style:none; 
	color:white;
	padding:50px 35px 0px 35px;
	cursor:pointer;
	transition: 0.4s ease;
}

header .main_navigation ul li a{
	color:white;
	font-family: neue_l;
	letter-spacing: 1.5px;
}

.button_toggle{
	display:block;
		position:fixed;
		width:40px;
		height:36px;
		right:30px;
		top:35px;
		background: transparent;
		z-index:321;
	}

	.button_toggle  span {
		position: absolute;
		width: 100%;
		height: 2px;
		background: black;
		margin-top:12px;
		transition: all 0.1s;
    background: white;
	}

	input[type="checkbox"]{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		cursor: pointer;
		margin-top:0px;

	}

	input[type="checkbox"]:checked + span:after{
		transform: rotate(-45deg) translate(-4px, 16px);
		-o-transform:rotate(-45deg) translate(-4px, 16px) !important; 
		-moz-transform: rotate(-45deg) translate(-4px, 16px) !important; 
		-ms-transform: rotate(-45deg) translate(-4px, 16px) !important; 
		-webkit-transform: rotate(-45deg) translate(-4px, 16px) !important; 
	}

	input[type="checkbox"]:checked + span:before{
		transform: rotate(45deg) translate(-1px, -12px);
		-o-transform: rotate(45deg) translate(-1px, -12px) !important; 
		-moz-transform: rotate(45deg) translate(-1px, -12px) !important; 
		-ms-transform: rotate(45deg) translate(-1px, -12px) !important; 
		-webkit-transform: rotate(45deg) translate(-1px, -12px) !important; 
	}

	input[type="checkbox"]:checked + span{
		background: transparent;
	}

	.button_toggle span:before, .button_toggle span:after {
		content: "";
		position: absolute;
		width: 40px;
		height: 2px;
		background: black;
		transition: all 0.3s;
		    background: white;
	}

	.button_toggle span:before{
		top:12px;
	}

	.button_toggle span:after{

		top:-12px;	
	}

}

@media screen and (orientation:landscape) {
.main_navigation ul li {

    padding: 30px 35px 0px 35px !important;
}
	}

  a{
  text-decoration: none;
  color: inherit;
}