/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1400px) {
	.first_text{
		font-size: 2.5em;
		width:70%;
		margin:0px auto;
	}

	.second_text{
		font-size: 2.5em;
	}


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.first_text{
		font-size: 2.2em;
		width:70%;
		margin:0px auto;
	}

	.second_text{
		font-size: 2.2em;
	}


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#owl-demo .item {

padding:0px;
}

	.first_text{
		font-size: 1.69em;
		width:70%;
		margin:0px auto;
	}

	.second_text{
		font-size: 1.69em;
	}

	.above4 .wrapper{
		width:70%;

	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 788px) {
	.first_text{
		font-size: 1.85em;
		width:70%;
		margin:0px auto;
	}

	.second_text{
		font-size: 1.85em;
	}



}

@media only screen and (max-width : 638px) {

	.first_text{
		font-size: 1.5em;
		width:70%;
		margin:0px auto;
	}

	.second_text{
		font-size: 1.5em;
	}



	.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -30px;
    top: 32%;
}

	.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -30px;
    top: 32%;
}


	.above4 .container {
		width: 100%;
		margin-top: 30px;
	}

	.above4 .wrapper {
    margin-top: -30px;
}

.above4 .wrapper_out {
    font-size: 2.2em;
    }

	.above4 .container_wrapper{
		width:70%;
		height: auto;
		margin:0px auto;
	}

	.above4  .container .vk{
		width:32px;
		height: 32px;
		background:url(img/vk_s.png) no-repeat center;
		background-size: cover;
	}

	.above4  .container .sk{
		width:32px;
		height: 32px;
		background:url(img/skype_s.png) no-repeat center;
		background-size: cover;
	}

	.above4  .container .em{
		width:32px;
		height: 32px;
		background:url(img/email_s.png) no-repeat center;
		background-size: cover;
	}

	.above4  .container .wh{
		width:32px;
		height: 32px;
		background:url(img/whatsapp_s.png) no-repeat center;
		background-size: cover;
	}


}


@media screen and (max-width : 480px) {
#owl-demo .item {

padding:0px;
}

.first_text{
		font-size: 1.3em;

	}

	.second_text{
		font-size: 1.3em;
	}

	.above4 .wrapper_out {
    font-size: 2.03em;
}

	.above4 .wrapper {
    width: 90%;
}

.above4 [type="text"] {
padding: 15px 0px 15px 10px;
}

.above4 [type="email"] {
padding: 15px 0px 15px 10px;
}

.above4 textarea {
padding: 15px 0px 0px 10px;
}

.above4 [type="submit"] {
padding: 10px 0px 10px 0px;
}

.container_wrapper {
    width: 90%;
}

	}





@media screen and (max-width:750px) and (orientation: landscape){


.above1 .description .photo {
    width: 100px;
    height: 100px;
}

.above1 .description .first {
	font-size: 2em !important;
}
.above1 .description .second {
	font-size: 2.57em !important;
}
.above1 .description .third {
	font-size: 2em !important;
}
.above1 .description .fourth {
	font-size: 2.21em !important;
}

.wrapper_out {
    font-size: 2em;
}

}





/*Disable Animation on Mobile Devices*/
.animated {
	/*CSS transitions*/
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;
	/*CSS transforms*/
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	/*CSS animations*/
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}