@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}



@font-face {
	font-family: "weblysleekuisb";
	src: url("fonts/weblysleekuisb.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "weblysleekuisl";
	src: url("fonts/weblysleekuisl.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "weblysleekuil";
	src: url("fonts/weblysleekuil.ttf");
	font-style: normal;
	font-weight: normal;
}


