*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.i-am-two{
	display: none;
}

.just .up_first{
margin-bottom: 0.5em;
font-size: 18px;
}

.just .up_second{
	margin-bottom: 0.69em;
}

.just .up_third{
	margin-bottom: 0.75em;
}

.just .up_fourth{
	margin-bottom:0.74em;
}

.just .text_left{
	text-align: left;
}

.just .move_right{
	margin-left:0.5em; 
}

.just .righter{
	margin-left:1em;
}

.just .bit{
margin-left:1.3em;
    padding-left: 30px;
}

.just .abit{
margin-left:2.1em;
}

.For-whom{
	padding-top: 5rem;
	font-family:weblysleekuisb;
	font-size:34px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
}

.For-whom .row {
	padding-top: 5.5rem;
	width: 60%;
	margin: 0px auto;
}

.For-whom .row .designers{

	font-size: 21px;
}

.For-whom .row .internet{

	font-size: 21px;
}

.For-whom .row .businessman{

	font-size: 21px;
}

.For-whom .row [class^="img-"]{
	width:109px;
	height:109px;
	background:red;
	margin: 0px auto;
}

.For-whom .row .img-1{
	background:url(img/1.png) no-repeat center;
	background-size:cover;
}

.For-whom .row .img-2{
	background:url(img/2.png) no-repeat center;
	background-size:cover;
}

.For-whom .row .img-3{
	background:url(img/3.png) no-repeat center;
	background-size:cover;
}

.just{
	padding-top: 9rem;
	font-family:weblysleekuisb;
	font-size:34px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
}

.just .using{
	width:65%;
	height:auto;
	background: url(img/text.png) no-repeat center;
	background-size: contain;
	margin:0px auto;
	padding-top: 3.9rem;
	margin-top: 2.5rem;

}
.just .row {
	padding-top: 4rem;
	width: 60%;
	margin: 0px auto;
}

.just .row{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top:1.5rem;
	padding-top:0px;
	font-size:21px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.just .row [class^="col-"]{
	width:31%;
	height:120px;
}

.just .row .grey{
	font-size:35px;
	color:#747d8b;
	letter-spacing:0px;
	text-align:center;
}

.just .row .kyan{
	font-size:35px;
	color:#169684;
	letter-spacing:0px;
	text-align:center;
}

.just .row .col-2{
	background: url(img/5.png) no-repeat center;
	background-size: 10%;
}

.just .row .col-3{
	background: url(img/6.png) no-repeat 52% 50%;
	background-size: 10%;
}

.you-cannot{
	width:100%;
	height:260px;
	background:url(img/fon_2.jpg) no-repeat center;
	background-size:cover;
}

.you-cannot .you{
	display: block;
	font-family:weblysleekuisb;
	font-size:28px;
	color:#ffffff;
	letter-spacing:0px;
	line-height:49px;
	text-align:center;
	padding-top:81px;
	width: 80%;
margin: 0px auto;
}

.programm{
	padding-top: 4em;
}

.programm .prog{
	display: block;
	font-family:weblysleekuisb;
	font-size:34px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
	padding-bottom: 1em;
}

.programm [class^="pos_"]{
	height:auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 2.5em;
}

.programm [class^="pos_"] .image{
	display:  inline-block;
	width:50px;
	height:50px;
	background: url(img/7.png) no-repeat center;
	background-size: cover;
	margin-top: 20px;
}

.programm .wrapper{
	width:80%;
	display:  inline-block;
	margin-left: 2em;
}

.programm [class^="pos_"] .first{
	
	display: block;
	font-family:weblysleekuisb;
	width: 100%;
	font-size:26px;
	color:#000000;
	letter-spacing:0px;
}

.programm [class^="pos_"] .second{
	display: block;
	width:100%;
	font-family:weblysleekuil;
	font-size: 21px;
	color:black;
	letter-spacing:0px;
}

.programm #button_first{
	display: none;
}

.programm .button-first{

	display: block;
	margin:0px auto;
	background:#f88200;
box-shadow:0px 5px 12px 0px rgba(220,127,0,0.48);
	border-radius:10px;
	width:528px;
	padding:17px 33.8px 17px 34.8px;
	margin-top: 6.1em;
	-webkit-transition: 0.7s ease;
	transition:0.7s ease;
	-webkit-transition-property: background, box-shadow;
	transition-property: background, box-shadow;
}

.programm .button-first .turn{
	font-family:weblysleekuisb;
	font-size:22px;
	color:#ffffff;
	letter-spacing:0px;
	text-align:center;
	margin-left: 82px;
}

.programm .button-first .cross{
	text-decoration: line-through;
}

.programm .button-first .arrow{
	position: absolute;
	z-index: 1;
	width:60px;
	height:36px;

	margin-left: 4px;
	background: url(img/arrow_big.png) no-repeat center;
	background-size: contain;

}

.what-can{
	width:100%;
	margin-top:5em; 
}

.what-can .main{
	display: block;
	font-family:weblysleekuisb;
	font-size:34px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
	    margin-bottom: 80px;
}

.what-can .row{
	width:80%;
	margin: 0px auto;
}

.what-can .positions{

}

.what-can .positions [class^="pos_"]{	
	height:auto;
}

.what-can .positions [class^="pos_"]:nth-child(n+4){
	margin-top: 3.5em;
}

.what-can .positions [class^="pos_"] .image{
	width:110px;
	height:110px;
	background-size: cover;
	margin: 0px auto
}

.what-can .positions [class^="pos_"] .text{
	display: block;
	text-align: center;
	font-family:weblysleekuil;
	font-size:21px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
}

.what-can .positions .pos_1 .image{
	background: url(img/8.png) no-repeat center;
}

.what-can .positions .pos_2 .image{
	background: url(img/9.png) no-repeat center;
}

.what-can .positions .pos_3 .image{
	background: url(img/10.png) no-repeat center;
}

.what-can .positions .pos_4 .image{
	background: url(img/11.png) no-repeat center;
}

.what-can .positions .pos_5 .image{
	background: url(img/12.png) no-repeat center;
}

.what-can .positions .pos_6 .image{
	background: url(img/14.png) no-repeat center;
}

.garanty1{
	margin-top:6em;
		width:100%;
	height:260px;
	background:url(img/gradient.png) no-repeat center;
	background-size:cover;
}

.garanty1 .wrapper{
	text-align: center;
	padding-top: 63.5px;
}

.garanty1 .hundred{
	display: inline-block;
	position: relative;
    top: 15px;
	font-family:weblysleekuisb;
font-size:62px;
color:#ffffff;
letter-spacing:0px;
line-height:46px;
text-align:left;
}

.garanty1 .hundred>span{
	display: block;
	text-align: center;
		font-family:weblysleekuil;
	font-size:34px;
}

.garanty1 .i-am{
	display: inline-block;
font-family:weblysleekuisb;
font-size:25px;
color:#ffffff;
letter-spacing:0px;
line-height:41px;
text-align:left;
}

.garanty1 .hundred,.i-am{
	margin-left: 60px;
}

.possible{
	margin-top: 6.1em;
}

.possible .question{
	display: block;
font-family:weblysleekuisb;
font-size:34px;
color:#000000;
letter-spacing:0px;
text-align:center;
}



.possible [class^="box_"]{
display:block;
border:4px solid #7c378f;
width:971px;
height:105px;
	font-family:weblysleekuisb;
font-size:26px;
color:#000000;
letter-spacing:0px;
text-align:left;
margin:0px auto;
	margin-top:0.8em;
	padding-left:1.8em; 
padding-top: 30px;
-webkit-transition: 0.7s ease;
transition: 0.7s ease;
-webkit-transition-property: background, height, overflow;
transition-property: background, height, overflow;
cursor:pointer;
overflow: hidden;
}

.possible [class^="box_"]:hover{
	background:#f5ecfb;
}

.possible .box_1{
	margin-top: 1.5em;
	    margin-bottom: 10px
}

.possible .box_1 .hover{
	display: block;
margin-top:1.3em;
font-family:weblysleekuil;
font-size:21px;
-webkit-transition: display 1s ease;
transition:display 1s ease;
}

.possible .box_2 .hover{
	display: block;
margin-top:1.3em;
font-family:weblysleekuil;
font-size:21px;
-webkit-transition: display 1s ease;
transition:display 1s ease;
}

.possible [class^="box_"] .plus,.plus2{
position: relative;
	font-family:weblysleekuisb;
font-size:25px;
color:#7c378f;
letter-spacing:0px;
float: right;
top: -6px;
padding-right: 25px;
font-weight: 300;
-webkit-transition: color 0.15s ease;
transition: color 0.15s ease;
}

.possible [class^="box_"] .plus:after, .plus2:after{
	content:"";
	display: block;
	width:25px;
	height:2.5px;
	background: #7c378f;
	position: absolute;
top: 22.5px;
  left: -9.5px;

-webkit-transition: display 1s ease;

transition:display 1s ease;
}





.possible #button_first{
	display: none;
}

.possible .button-first{

	display: block;
	margin:0px auto;
	background:#f88200;
	box-shadow:0px 5px 12px 0px rgba(220,127,0,0.48);
	border-radius:10px;
	width:528px;
	padding:17px 33.8px 17px 34.8px;
	margin-top: 6.1em;
	-webkit-transition: 0.7s ease;
	transition:0.7s ease;
	-webkit-transition-property: background, box-shadow;
	transition-property: background, box-shadow;
}

.possible .button-first .turn{
	font-family:weblysleekuisb;
	font-size:22px;
	color:#ffffff;
	letter-spacing:0px;
	text-align:center;
	margin-left: 82px;
}

.possible .button-first .cross{
	text-decoration: line-through;
}

.possible .button-first .arrow{
	position: absolute;
	z-index: 1;
	width:60px;
	height:36px;

	margin-left: 4px;
	background: url(img/arrow_big.png) no-repeat center;
	background-size: contain;
}

.possible .closing{
	display: block;
	height:70px;
	margin-top:1.5em;
	font-family:weblysleekuisb;
font-size:26px;
color:#000000;
letter-spacing:0px;
text-align:center;
}

footer{
	width:100%;
	background: #2e2e32;
	margin-top: 7em;
}

footer .wrapper{
	padding-top: 5.5rem;
	width:70%;
	height:130px;
margin: 0px auto;
}

footer .wrapper .igor{
	display: inline-block;
padding-top: 4.5rem;
	height:40px;
	background: url(img/igor.png) no-repeat 100% 50%;
}

footer .wrapper .C{
display: inline-block;

font-family:weblysleekuil;
font-size:16px;
color:#afb1ba;
letter-spacing:0px;
text-align:left;
padding-left: 6em;
}



footer .footer{
	width:63%;
margin: 0px auto;
padding-bottom: 50px;
padding-top: 4rem;
}

footer .footer .link{
cursor: pointer;
	font-family:weblysleekuil;
font-size:16px;
color:#ffffff;
letter-spacing:0px;
text-align:center;
-webkit-transition: 1s ease;
transition: 1s ease;
-webkit-transition-property: color;
transition-property: color;
padding:0px;
}


footer .footer .link:hover {
color: #FAD286;
}

footer .window {
    z-index: 11111;
    padding: 35px 50px 50px 50px;
    background: #ffffff;
    border-radius: 20px;
    width: 800px;
   
    position: fixed;
    left: 50%;
    margin-left:-400px;
    top: 10%;
    display: none;
  
    font-size: 15px;
    color: #242325;
    line-height: 37px;
    text-align: center;
  overflow: auto;
   opacity: 0;
    -webkit-transition: 0.3s ease;
    transition:0.3s ease;
}

footer .window .head{
	display: block;
font-family: weblysleekuisb;
font-size: 26px;
    margin-bottom: 35px;
}


footer .window .rest{
	      overflow-y: scroll;
    height: 435px;
     text-align: left;
    font-size: 21px;
      font-family: "weblysleekuil";
}

footer .window .close-btn {
    width: 30px;
    height: 30px;
    background: url(img/close.png) no-repeat center;
    float: right;
    position: relative;
        right: 20.4px;
    top: -67px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: none;
    z-index: 1111;

opacity: 0;
    -webkit-transition: 0.2s ease;
    transition:0.2s ease;
}

.button-first:hover{
	background:#f86e00;
	box-shadow:none;
}

.timer-element{
	margin-right: 17px !important;
}

 .timer-slide-inner:nth-child(n+2){
	margin-right: -1px !important;
}

.timer-element:last-child .timer-slide-inner{
    color: #f88200 !important;
}

[class^="timer-slide"]{
	padding-left: 1px  !important; 
     padding-right: 1px  !important;
    
}

.timer-slide-new{
	 padding-bottom: 16.4px !important;
     padding-top: 16.4px !important; 
}

.timer-element .timer-slide-inner{
    font-family: weblysleekuisb !important;
font-size:26px !important;

}

[id^="timer-number-"]{
    background: #fdf9d1 !important;
 
}

[id^="timer-number-"]:first-child{
	   padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 6px !important;
}

.grow{
	padding-left: 100px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background:#EDEDED; 
    border-radius: 10px;
    background:transparent; 

}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
   background:#d8d8d8;
border-radius:100px;
width:15px;
height:120px;
}

.just .col-11,.col-12{
	height:45px !important;
    margin-bottom:1.5em !important;
}

.just .col-8,.col-9{
	height:0px !important;
	margin-bottom:2.8em !important;
}

.just .col-5,.col-6{
	height:0px !important;
	margin-bottom:3.6em !important;
}


.just .col-2,.col-3{
	height:40px !important;
	margin-bottom:-3.8em !important;
}






.just .col-10{
height: 49px !important;
margin-bottom:1.2em !important;
}
	.just .col-7{
		height:10px !important;
		margin-bottom:3.5em !important;
	}