@font-face {
  font-family: "Gothic";
  src: url("../fonts/CenturyGothic.ttf"); }

a {
  list-style: none;
  text-decoration: none;
  color: inherit; }

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 0; }

body {
  margin: 0;
  font-size: 12px;
  font-family: Gothic;
  background: #fafafa;
  color: #9EFFF4; }

.main_menu {
  height: 10VH;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .main_menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    .main_menu ul #main_page {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5);
      text-decoration: none;
      text-decoration: underline;
      color: #3D262E; }
    .main_menu ul li {
      font-size: 20px;
      list-style: none;
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease;
      color: black;
      text-transform: uppercase;
      padding: 0 55px;
      color: #727271; }
      .main_menu ul li:hover {
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        text-decoration: none;
        text-decoration: underline;
        color: #3D262E; }

.photo_wrapper {
  width: 100%;
  height: auto;
  position: relative; }
  .photo_wrapper .side_bar {
    position: absolute;
    width: 35%;
    background: rgba(61, 38, 46, 0.6);
    height: 90VH;
    left: 0;
    top: 0;
    z-index: 1; }
    .photo_wrapper .side_bar .text {
      padding-top: 150px;
      padding-left: 110px;
      text-align: left;
      float: right;
      color: #ffffff; }
      .photo_wrapper .side_bar .text .wrapper {
        padding-right: 10px; }
        .photo_wrapper .side_bar .text .wrapper .first {
          font-size: 2.935em;
          text-align: left; }
      .photo_wrapper .side_bar .text .wrapper {
        padding-top: 60px;
        text-align: left; }
        .photo_wrapper .side_bar .text .wrapper:first-child {
          margin-right: 30px; }
        .photo_wrapper .side_bar .text .wrapper:last-child {
          margin-right: 30px; }
        .photo_wrapper .side_bar .text .wrapper .second {
          font-size: 2em;
          text-align: left;
          float: left; }

#color {
  color: #00ff00;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }

#underline {
  border-bottom: 2px solid #00ff00;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }

footer {
  width: 100%;
  background: #3D262E; }
  footer .text {
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    color: #FFF;
    padding: 50px 0; }

#wrapper {
  display: none;
  position: fixed;
  width: 55px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3;
  right: 23.5px;
  top: 18px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }

.close {
  width: 42px !important;
  height: 45px !important;
  top: 22px !important;
  right: 21.5px !important; }

.main_navigation {
  display: block;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  background: white;
  opacity: 0.95;
  -webkit-box-shadow: 1.5px 0px 30px;
          box-shadow: 1.5px 0px 30px;
  width: 40%;
  height: 100%;
  text-align: center;
  -webkit-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  z-index: 100; }
  .main_navigation.open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); }
  .main_navigation ul {
    list-style: none;
    cursor: pointer;
    margin-top: 50px;
    -webkit-padding-start: 0px;
    -o-padding-start: 0px;
    -moz-padding-start: 0px;
    -ms-padding-start: 0px; }
    .main_navigation ul li {
      padding: 35px 15px;
      font-size: 20px;
      text-transform: uppercase; }

.button_toggle {
  position: fixed;
  width: 40px;
  height: 36px;
  right: 30px;
  top: 30px;
  background: transparent;
  z-index: 321; }
  .button_toggle span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 12px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }

input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  margin-top: 0px; }
  input[type="checkbox"]:checked + span {
    background: transparent; }
    input[type="checkbox"]:checked + span:after {
      transform: rotate(-45deg) translate(-4px, 16px);
      -o-transform: rotate(-45deg) translate(-4px, 16px) !important;
      -moz-transform: rotate(-45deg) translate(-4px, 16px) !important;
      -ms-transform: rotate(-45deg) translate(-4px, 16px) !important;
      -webkit-transform: rotate(-45deg) translate(-4px, 16px) !important; }
    input[type="checkbox"]:checked + span:before {
      transform: rotate(45deg) translate(-1px, -12px);
      -o-transform: rotate(45deg) translate(-1px, -12px) !important;
      -moz-transform: rotate(45deg) translate(-1px, -12px) !important;
      -ms-transform: rotate(45deg) translate(-1px, -12px) !important;
      -webkit-transform: rotate(45deg) translate(-1px, -12px) !important; }

.button_toggle span:before, .button_toggle span:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.button_toggle span:before {
  top: 12px; }

.button_toggle span:after {
  top: -12px; }

.white {
  background-color: #fff !important; }
  .white:before {
    border-bottom: 3.75px solid #fff !important; }
  .white:after {
    border-top: 3.75px solid #fff !important; }

.green {
  background-color: #00ff00 !important; }
  .green:before {
    border-bottom: 3.75px solid #00ff00 !important; }
  .green:after {
    border-top: 3.75px solid #00ff00 !important; }

.pink {
  background-color: #ff2ba6 !important; }
  .pink:before {
    border-bottom: 3.75px solid #ff2ba6 !important; }
  .pink:after {
    border-top: 3.75px solid #ff2ba6 !important; }

.yellow {
  background-color: #fffd31 !important; }
  .yellow:before {
    border-bottom: 3.75px solid #fffd31 !important; }
  .yellow:after {
    border-top: 3.75px solid #fffd31 !important; }

.orange {
  background-color: #FF9100 !important; }
  .orange:before {
    border-bottom: 3.75px solid #FF9100 !important; }
  .orange:after {
    border-top: 3.75px solid #FF9100 !important; }

.blue {
  background-color: #56ffec !important; }
  .blue:before {
    border-bottom: 3.75px solid #56ffec !important; }
  .blue:after {
    border-top: 3.75px solid #56ffec !important; }

.contact_wrapper {
  width: 100%;
  background: url(../img/background.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .contact_wrapper .yandex_map {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    width: 50%;
    height: 900px;
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -20px; }
  .contact_wrapper .side_contacts {
    width: 700px;
    background: rgba(61, 38, 46, 0.6);
    height: 900px;
    z-index: 1;
    padding-top: 80px; }
    .contact_wrapper .side_contacts .social {
      width: 80px;
      height: 800px;
      background: #3D262E;
      float: left; }
      .contact_wrapper .side_contacts .social [class^="item"] {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: #fff;
        margin-top: 50px;
        cursor: pointer; }
      .contact_wrapper .side_contacts .social .item1 {
        background: url(../img/closed-envelope-email.png) no-repeat center;
        -webkit-background-size: cover;
                background-size: cover; }
      .contact_wrapper .side_contacts .social .item2 {
        background: url(../img/photo-camera.png) no-repeat center;
        -webkit-background-size: cover;
                background-size: cover; }
      .contact_wrapper .side_contacts .social .item3 {
        background: url(../img/vk.png) no-repeat center;
        -webkit-background-size: contain;
                background-size: contain; }
      .contact_wrapper .side_contacts .social .item4 {
        background: url(../img/facebook-social-network-logo.png) no-repeat center;
        -webkit-background-size: cover;
                background-size: cover; }
      .contact_wrapper .side_contacts .social .item5 {
        background: url(../img/twitter-bird-logo_2.png) no-repeat center;
        -webkit-background-size: cover;
                background-size: cover; }
    .contact_wrapper .side_contacts .form {
      width: 500px;
      height: 800px;
      background: #3D262E;
      margin-left: 60px;
      float: left; }
      .contact_wrapper .side_contacts .form form {
        width: 80%;
        margin: 0 auto;
        font-family: "Gothic";
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .contact_wrapper .side_contacts .form form input {
          font-family: "Gothic";
          display: block;
          margin-top: 50px;
          height: 30px;
          outline: none;
          text-transform: uppercase;
          border: none;
          background: white;
          color: #3D262E;
          font-size: 1.5em;
          padding: 10px 10px 10px 10px; }
          .contact_wrapper .side_contacts .form form input::-webkit-input-placeholder {
            color: #3D262E;
            font-size: 1em; }
          .contact_wrapper .side_contacts .form form input:-moz-placeholder {
            color: #3D262E;
            font-size: 1em; }
          .contact_wrapper .side_contacts .form form input::-moz-placeholder {
            color: #3D262E;
            font-size: 1em; }
          .contact_wrapper .side_contacts .form form input:-ms-input-placeholder {
            color: #3D262E;
            font-size: 1em; }
          .contact_wrapper .side_contacts .form form input:last-child {
            cursor: pointer;
            height: 50px; }
        .contact_wrapper .side_contacts .form form textarea {
          display: block;
          text-transform: uppercase;
          font-family: "Gothic";
          margin-top: 50px;
          outline: none;
          height: 130px;
          border: none;
          background: white;
          resize: none;
          color: #3D262E;
          font-size: 1.5em;
          padding: 10px 10px 10px 10px; }
          .contact_wrapper .side_contacts .form form textarea::-webkit-input-placeholder {
            color: #3D262E;
            font-size: 1em; }
          .contact_wrapper .side_contacts .form form textarea:-moz-placeholder {
            color: #3D262E;
            font-size: 1em; }
          .contact_wrapper .side_contacts .form form textarea::-moz-placeholder {
            color: #3D262E;
            font-size: 1em; }
          .contact_wrapper .side_contacts .form form textarea:-ms-input-placeholder {
            color: #3D262E;
            font-size: 1em; }

.photo_wrapper_description {
  width: 100%;
  height: auto;
  position: relative; }
  .photo_wrapper_description .side_bar {
    position: absolute;
    width: 35%;
    background: rgba(61, 38, 46, 0.6);
    height: 90VH;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease; }
    .photo_wrapper_description .side_bar .trigger {
      position: absolute;
      left: 103%;
      top: 50%;
      cursor: pointer; }
    .photo_wrapper_description .side_bar .text {
      padding-top: 30px;
      padding-left: 150px;
      padding-right: 30px;
      text-align: left;
      float: right;
      color: #ffffff; }
      .photo_wrapper_description .side_bar .text .wrapper {
        padding-right: 10px; }
        .photo_wrapper_description .side_bar .text .wrapper .first {
          font-size: 2.3em; }
          .photo_wrapper_description .side_bar .text .wrapper .first .header {
            font-weight: bold; }

.arrow,
.arrow:before {
  position: absolute;
  left: 50%; }

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(-45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid; }

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow; }

@-webkit-keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px); } }

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px); } }

.closeBar {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.hexagon_wrapper {
  width: 100%;
  height: auto;
  background: #fff; }
  .hexagon_wrapper .over {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 900px;
    margin: auto; }

#hexGrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none; }

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; }
  .hex::after {
    content: '';
    display: block;
    padding-bottom: 86.602%; }

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg); }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent; }

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg); }

.hexLinkOff {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg); }
  .hexLinkOff span {
    display: block;
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: 50%;
    font-size: 1.5em;
    top: 31%; }

.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg); }

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(61, 38, 46, 0.7);
  font-weight: 300;
  -webkit-transition: opacity .3s ease-out, -webkit-transform .6s ease-out;
  transition: opacity .3s ease-out, -webkit-transform .6s ease-out;
  -o-transition: transform .6s ease-out, opacity .3s ease-out;
  transition: transform .6s ease-out, opacity .3s ease-out;
  transition: transform .6s ease-out, opacity .3s ease-out, -webkit-transform .6s ease-out; }

.hex h1 {
  bottom: 43.5%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.hex p {
  top: 43%;
  padding-bottom: 50%;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.hexLink:hover h1, .hexLink:focus h1, .hexLink:hover p, .hexLink:focus p {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@media (min-width: 1201px) {
  #hexGrid {
    padding-bottom: 5.5%; }
  .hex {
    width: 25%; }
    .hex:nth-child(7n+5) {
      margin-left: 12.5%; } }

@media (max-width: 1200px) and (min-width: 901px) {
  #hexGrid {
    padding-bottom: 5.5%; }
  .hex {
    width: 25%; }
    .hex:nth-child(7n+5) {
      margin-left: 12.5%; } }

@media screen and (max-width: 901px) {
  .hexagon_wrapper .over {
    width: 600px; } }

@media (max-width: 900px) and (min-width: 601px) {
  .hex h1 {
    bottom: 42.6%; }
  .hex p {
    top: 42%; }
  #hexGrid {
    padding-bottom: 7.4%; }
  .hex {
    width: 33.333%; }
    .hex:nth-child(5n+4) {
      margin-left: 16.666%; } }

@media screen and (max-width: 601px) {
  .hexagon_wrapper .over {
    width: 300px; } }

@media (max-width: 600px) {
  .hex h1 {
    bottom: 41.6%;
    font-size: 15px; }
  .hex p {
    top: 44%;
    font-size: 11px; }
  #hexGrid {
    padding-bottom: 11.2%; }
  .hex {
    width: 50%; }
    .hex:nth-child(3n+3) {
      margin-left: 25%; } }

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px; } }

@media screen and (max-width: 1923px) {
  .side_bar .text .wrapper .first {
    font-size: 3em !important; } }

@media screen and (max-width: 1653px) {
  .side_bar .text .wrapper .first {
    font-size: 1.5em !important; } }

@media screen and (max-width: 1503px) {
  .side_bar .text .wrapper .first {
    font-size: 2em; }
  .main_menu ul li {
    font-size: 14px; }
  .photo_wrapper .side_bar .text {
    padding-top: 100px;
    padding-left: 54px; }
    .photo_wrapper .side_bar .text .wrapper .second {
      font-size: 1.3em; }
    .photo_wrapper .side_bar .text .wrapper .first {
      font-size: 2em; } }

@media screen and (max-width: 1353px) {
  .side_bar .text .wrapper .first {
    font-size: 1.6em !important; } }

@media screen and (max-width: 1303px) {
  .main_menu ul li {
    font-size: 14px;
    padding: 0 40px; }
  .contact_wrapper .side_contacts {
    width: 600px; }
    .contact_wrapper .side_contacts .form {
      width: 400px; } }

@media screen and (max-width: 1203px) {
  .main_menu ul li {
    font-size: 12px;
    padding: 0 40px; } }

@media screen and (max-width: 1203px) {
  .photo_wrapper_description .side_bar {
    width: 50% !important;
    text-align: center; }
  .main_menu {
    display: none; }
  #wrapper {
    display: block; }
  .photo_wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .photo_wrapper .item {
      height: 100VH !important; }
    .photo_wrapper .side_bar {
      width: 100%;
      height: auto; }
      .photo_wrapper .side_bar .text {
        margin: 0 auto;
        padding-top: 0;
        padding-left: 0;
        text-align: center;
        float: inherit; }
        .photo_wrapper .side_bar .text .wrapper {
          text-align: center !important;
          padding-top: 90px; }
          .photo_wrapper .side_bar .text .wrapper:last-child {
            padding-top: 30px;
            padding-bottom: 30px; }
          .photo_wrapper .side_bar .text .wrapper .second {
            padding-top: 30px;
            float: inherit !important;
            text-align: center !important; }
          .photo_wrapper .side_bar .text .wrapper .first {
            font-size: 2.3em;
            text-align: center !important;
            float: inherit !important; } }

@media screen and (max-width: 1100px) {
  .contact_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: auto; }
    .contact_wrapper .side_contacts {
      background: url(../img/background.jpg) no-repeat center;
      -webkit-background-size: cover;
              background-size: cover;
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-bottom: 80px; }
      .contact_wrapper .side_contacts .form {
        width: 500px; } }

@media screen and (max-width: 953px) {
  .side_bar .text .wrapper .first {
    font-size: 1.5em !important; } }

@media screen and (max-width: 803px) {
  .photo_wrapper_description .side_bar {
    width: 85% !important; }
    .photo_wrapper_description .side_bar .text {
      padding-left: 40px !important; }
      .photo_wrapper_description .side_bar .text .wrapper .first {
        font-size: 1.3em !important; } }

@media screen and (max-width: 703px) {
  .contact_wrapper .side_contacts .form {
    width: 300px; } }

@media screen and (max-width: 703px) {
  .contact_wrapper .side_contacts .form {
    width: 270px;
    margin-left: 0; }
  .main_navigation {
    width: 60%; }
    .main_navigation li {
      font-size: 15px !important; } }

@media screen and (max-width: 503px) {
  .photo_wrapper_description .side_bar {
    width: 70% !important; }
    .photo_wrapper_description .side_bar .text {
      padding-left: 40px !important; }
      .photo_wrapper_description .side_bar .text .wrapper .first {
        font-size: 1.4em !important; }
  .contact_wrapper .side_contacts {
    padding-top: 40px;
    padding-bottom: 40px; }
    .contact_wrapper .side_contacts .form {
      width: 270px;
      margin-left: 0;
      height: 565px; }
    .contact_wrapper .side_contacts .social {
      height: 565px; } }

@media screen and (max-width: 383px) {
  .photo_wrapper_description .side_bar {
    width: 85% !important; }
    .photo_wrapper_description .side_bar .text {
      padding-left: 40px !important; }
      .photo_wrapper_description .side_bar .text .wrapper .first {
        font-size: 1.3em !important; } }
