@font-face{
	font-family: "GOTHIC";
	src:url("css/GOTHIC.TTF")  format("truetype");
}

#bhr {
    background: #EFEFEF;
    border-radius:10px;
 top: 93%;
    display: block;
    font-size: 20px;
    padding: 13px 15px;
    position: fixed;
    right: 5px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease-out;
}

#bhr:hover {
    color: white;
    background: #427391;
}

.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.change{
	font-size: 0.9em;
}

.doctors{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}


.text .grid-10{
	width:700px;
	height:786px;
	background: url(img/text.jpg) no-repeat center;
	background-size: cover; 
}

.text .grid-5 img{
	border-radius: 10px;
}


.wrapper .grids .main{
	text-align: center !important;
}

.wrapper .grids .main h4{
	color: #fafafa;
	text-shadow: #427391 2px 2px 0, #427391 -2px -2px 0, 
	#427391 -2px 2px 0, #427391 2px -2px 0;
}

.wrapper .grids .main .red{
	font-size: 20px;
	color:#CD396B;
}

.wrapper .grids .main .greyOne{
	background: #EFEFEF;
	border-radius: 15px;
	font-size: 27px;
}


.textDomodedovo{
	text-align: justify;
}
.contacts{
	text-align: center;
}

.contacts .telephone{
	font-size: 27px;
}

.threeD li a{  
	width:91px;
	background-color:  #427391;
	border-radius: 5px;  
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);  
	color: #eee;  
	margin-top: 5px;
	padding: 5px 5px;
	text-decoration: none;  
	border: 1px solid #427391;  
	font: bold 14px Arial, Helvetica;  
}

.threeD li a:hover{
	background-color: #427191;   
	background-image: -webkit-gradient(linear, left top, left bottom, from(#427191), to(#427191));   
	background-image: -webkit-linear-gradient(#427191, #427191);   
	background-image: -o-linear-gradient(#427191, #427191);   
	background-image: linear-gradient(#427191, #427191);  
}

.threeD li a:active{
	background: #254b63;  
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;  
	        box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;  

}
.threeD li a span{
	width: 58px;
	text-align: center;
	border: 1px dashed white;  
	display: inline-block;  
	text-align: center;
	padding: 10px 15px;
	color:white; 
	cursor: pointer;  
	background-color: #427391;   
}

.threeD li a:active span{
	background-color:#254b63;    
	background-image: -webkit-gradient(linear, left top, left bottom, from(#254b63), to(#254b63));    
	background-image: -webkit-linear-gradient(#254b63, #254b63);    
	background-image: -o-linear-gradient(#254b63, #254b63);    
	background-image: linear-gradient(#254b63, #254b63);  
}

.map{
	width:500px;
	height:400px;
	margin:0px auto;
}