* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	display: block;
	height: 100%;
	width: 100%;
}
body {
	background-image: url(img/ru23.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center center;
	font-family: Arial, Helvetica, sans-serif;
}
.hbg {
	color: #fff;
	text-align: center;
	margin: 10px auto;
	padding: 5px;
	width: 90%;
	background-color: #427391;;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
h1 {
	text-align: center;
	margin: 10px;
	font-size: 18px;
}
h2, h3, h4 {
	text-align: center;
	margin: 10px;
	font-size: 16px;
}
p {
	text-align: justify;
	font-size: 1.1em;
	font-family: "Times New Roman", Times, serif;
}
ul {
	margin: 10px;
	padding: 10px;
}
li {
	list-style-type: none;
}
a {
	color: #082d54;
}
.mdiv {
	margin: auto;
	min-width:180px;
	max-width: 934px;
}
.engl {
	text-align: right;
}
.engl a {
	color: #000;
}
.topnav {
	width: 100%;
	max-width: 934px;
	background-color: #427391;;
	z-index: 9999;
}
.topnav td {
	height: 40px;
	padding: 10px 5px;
	border-right: #FFF 1px solid;
	text-align: center;
}
.topnav a:link {
	color: #FFFFFF;
	text-decoration: none
}
.topnav a:active {
	color: #FFFFFF;
}
.topnav a:visited {
	color: #FFFFFF;
}
.topnav a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.vvrch {
	font-weight: bold;
	;
	font-size: 1.1em
}
.content {
	min-height: 200px;
	padding: 10px 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #FFFFFF;
}
.cur2 {
	margin: 10px auto;
}
.cur2 td {
	padding: 5px;
	vertical-align: top;
	text-align: center;
}
.cur2 td p {
	font-size: 0.8em;
}
.cur {
	margin: 10px auto;
}
.cur td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
.cur td p {
	font-size: 0.9em;
}
.otz {
	font-size: 0.8em;
	font-style: italic;
	margin: 5px auto;
	text-align: justify;
	padding: 5px;
}
.popup {
	text-decoration: underline;
	color: #011c6e;
}
.popup:hover {
	background-color: transparent;
	z-index: 2;
}
.popup span {
	position: absolute;
	display:none;
	z-index: 1;
	max-width:98%;
}
.popup span img {
	border-width: 0;
	padding: 2px;
	max-width:none;
}
.popup:hover span {
	display:block;
}
.cr {
	text-align: center;
	color: #000;
	margin: 15px;
}
.brad {
	border: 2px solid #858585;
	width: 600px;
	margin: 10px auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
}
.brad table {
	margin: auto;
}
.brad table td ul li {
	line-height: 1.4em;
}
.whtlink {
	color: #fff;
}
.mta {
	width: 550px;
	max-width: 100%;
	margin: 10px auto;
}
#price {
	width: 95%;
	border: 1px solid #003300;
	margin: 10px auto;
}
#price td {
	padding-left: 1em;
	border: 1px solid #003300;
	font-size: 1.1em;
}
.flol {
	float: left;
	margin: 5px 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.flor {
	float: right;
	margin: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.classic {
	margin-left: 40px;
}
.classic li {
	list-style-type: square;
	line-height: 1.5em;
	padding-left: 10px;
}
.bshn {
	margin: 20px auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #427391;;
}
.bshn td {
	padding: 3px;
	text-align: center;
}
.bshn p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #427391;;
}
#vprepar {
	width: 100%;
}
#vprepar td {
	width: 50%;
	vertical-align: top;
}
.red {
	color: #427391;;
}
.hk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-style: italic;
	margin: 10px 0 20px 15px;
}
.baitr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	border: solid 1px;
	margin-left: auto;
	margin-right: auto;
}
.baitr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	border: solid 1px;
	padding: 3px;
}
.nlink {
	color: #000;
}
img.logo{
	max-width:100%;
}
table.cur2 img{width: 200px;}
.brad ul{
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}
	.brad ul li{display: block;}
.uslugi_img{width: 100%;}
	.uslugi_img .caption{font-weight: 700;padding-bottom: 5px;}
		.uslugi_img.capheight100 .caption{max-height: 100px;}
		.uslugi_img.capheight50 .caption{max-height: 50px;}
	.uslugi_img td{text-align: center;vertical-align: bottom;}
		.uslugi_img.col3 td{width: 33%;}
		.uslugi_img.tal td{text-align:left;}
	.uslugi_img img{max-width:100%;width: 100%;}
	.uslugi_img.col3 img{width: auto;}
.animal2{
	max-width:100%;
	margin-bottom:20px;
}
.ochered{max-width:100%;}
	.ochered td{text-align: center;}
	.ochered img{max-width:100%;}
.review{width: 100%;}
	.review td:first-child{min-width:190px;}
	.review td:last-child{padding: 1%;}
.upr{text-align: center;}
.upr a{
	display: inline-block;
	margin: 1%;
	vertical-align: top;
}
/*img.vrach{width: 750px;}*/
table.vrach td:first-child{width: 350px;}
@media screen and (max-width: 1100px){
	.popup span{right:1%;}
}
@media screen and (max-width: 940px){
	table.cur2 img{width:100%;}
	table.vrach td{width:50%}
}
@media screen and (max-width: 900px){
	.content{padding: 10px 1%;}
	.flol,.flor{
		margin: 5px 2%;
		max-width: 44%;
	}
}
@media screen and (max-width: 855px){
	.topnav td{
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		display: inline-block;
		font-size: 15px;
		padding: 11px 0.2%;
		vertical-align: top;
		width: 24%;
	}
	.topnav tr{text-align: center;font-size: 0;}
	.topnav td:nth-child(4){border-right:none;}
	table.vrach td:first-child{width:auto;}
}
@media screen and (max-width: 625px){
	.brad{max-width: 100%;}
	.uslugi_img tr{font-size: 0;text-align: center;}
	.uslugi_img td{font-size: 17px;display: inline-block;min-width: 90px;}
	.uslugi_img.col3 td,.uslugi_img.adwid td{width: 100%;}
}
@media screen and (max-width: 600px){
	.topnav td{
		font-size: 12px;
		height: 27px;
		padding: 6px 0.2%;
	}
	.hbg{width: 98%;}
	table.vrach img{width: 100%;}
}
@media screen and (max-width: 540px){
	.cur2 tr{
		font-size: 0;
		text-align: center;
	}
	.cur2 td{
		display: inline-block;
		width: 50%;
	}
	.brad ul {
		margin: 0;
		padding: 0;
		font-size: 15px;
	}
	.ochered tr{text-align: center;}
	.ochered td{display: inline-block;vertical-align: top;}
	#price{width: 100%;}
	#price td{
		font-size: 0.9em;
		line-height: 100%;
		padding: 4px 0.5%;
	}
	#price tr td:last-child{
		min-width: 72px;
		text-align: right;
	}
	.flol.big,.flor.big{
		float: none;
		max-width: 96%;
	}
}
@media screen and (max-width: 460px){
	.topnav td{
		border: none;
		width: 32%;
	}
	.brad ul{
		column-count: 1;
		-moz-column-count: 1;
		-webkit-column-count: 1;
		text-align: center;
	}
	.brad ul li{padding: 3px 0;}
	.animal2{display: none;}
	table.vrach thead{display: none;}
	.review td,table.vrach td,table.vrach tr,table.vrach td:first-child{display:block;width: 100%;max-width:100%;}
	.review td:first-child{text-align: center;}
	.popup span img{max-width:100%;}
}
@media screen and (max-width: 370px){
	.topnav td{
		height: auto;
		padding: 3px 4%;
		width: auto;
	}
	.cur2 td{width: 100%;}
	.flol,.flor{
		float: none;
		max-width: 96%;
	}
}
img,table{max-width: 100%;
}
}
