@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic.woff') format('woff'), url('fonts/CenturyGothic.ttf')  format('truetype'), url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

p{
  color:black;
}

.headName p img{
  margin-left: -115px;
}

.image {
    width: 100%;
    height: 180px;
    background: url(../img/geerb.png) no-repeat center;
    background-size: contain;
}

.image{
  width: 100%;
  height: 180px;
}

.ptici{
  width:100%;
  height:180px;
  background: url(../img/logopop.png) no-repeat center;
  background-size: contain;
 }
 
  
 .analiz{
  width:100%;
  height:180px;
  background: url(../img/an.png) no-repeat center;
  background-size: contain;
  
  }

.dog2{
   width:100%;
  height:180px;
  background: url(../img/dogs1.png) no-repeat center;
  background-size: contain;
  
}

.vrach{
   width:100%;
  height:180px;
  background: url(../img/vrach1.png) no-repeat center;
  background-size: contain;
 
 }

.feret1{
   width:100%;
  height:180px;
  background: url(../img/ferret.png) no-repeat center;
  background-size: contain;
  }

.krol1{
   width:100%;
  height:180px;
  background: url(../img/krol.png) no-repeat center;
  background-size: contain;
   
}

.prais{
   width:100%;
  height:180px;
  background: url(../img/prac.png) no-repeat center;
  background-size: contain;

}

#gerbkosh{
  background: url(../img/cat10.png) no-repeat center;
  background-size: contain;

  
}

.banner{
  width: 97%;
  margin: 0 auto;
  height: 20VH;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner [class^="_photo_"]{
  width: 107.5px;
  height: 105%;
}
.gerbCenter{
  width: 65%;
  margin: 0 auto;
}

.banner ._photo_first{
  background-size: contain;
}

.banner ._photo_sec{
  background-size: contain;

}

.banner ._photo_third{
  background-size: contain;

}

.banner ._photo_fourth{
  background-size: contain;

}

.banner ._photo_fifth{
  background-size: contain;

}

.banner ._photo_sixth{
  background-size: contain;

}

.banner ._photo_seventh{
  background-size: contain;

}

.banner ._photo_eighth{
  background-size: contain;

}

.banner ._photo_ninth{
  background-size: contain;

}

.banner ._photo_tenth{
  background-size: contain;
  
}

.headName{
  text-align: center;
  font-size: 20px;
}

.town{
  position: relative;
  top: 55px;
  font-size: 38px;
  padding-right: 130px;
}

@media screen and (max-width: 880px){
  .town{
    padding-right: 0px; }
  }


  *{
    margin:0;
    padding:0;
    font-family:CenturyGothic !important;
    font-size:100%;
    border-collapse:collapse;
  }

  .foooter {
    border-radius: 10px;
    background-color: #427391;
    color: #fff;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .social {
    text-align: right;
    position: relative;
    margin: 4px 0;
    padding-top: 6px;
  }


  #bhr {
    background: #ffffff;
    border-radius:10px;
    top: 93%;
    display: block;
    font-size: 20px;
    padding: 13px 15px;
    position: fixed;
    right: 5px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease-out;
    z-index: 10000;
  }

  #bhr:hover {
    color: white;
    background: #427391;
  }

  .flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .change{
    font-size: 0.9em;
  }

  .doctors{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }


  .text .grid-10{
    width:700px;
    height:786px;
    background: url(img/text.jpg) no-repeat center;
    background-size: cover; 
  }

  .text .grid-5 img{
    border-radius: 10px;
  }


  .wrapper .grids .main{
    text-align: center !important;
  }

  .wrapper .grids .main h4{
    color: #fafafa;
    text-shadow: #427391 2px 2px 0, #427391 -2px -2px 0, 
    #427391 -2px 2px 0, #427391 2px -2px 0;
  }

  .wrapper .grids .main .red{
    font-size: 20px;
    color:#CD396B;
  }

  .wrapper .grids .main .greyOne{
    background: #ffffff;
    border-radius: 15px;
    font-size: 17px;
  }


  .textDomodedovo{
    text-align: justify;


  }
  .contacts{
    text-align: center;
  }

  .contacts .telephone{
    font-size: 27px;
  }

  .threeD li a{  
    width:99px;
    background-color:  #427391;
    border-radius: 5px;  
    text-shadow: 0 -1px 0 rgba(0,0,0,.8);  
    color: #eee;  
    margin-top: 5px;
    padding: 5px 5px;
    text-decoration: none;  
    border: 1px solid #427391;  
    font: bold 14px Arial, Helvetica;  
  }

  .threeD li a:hover{ 

  }

  .threeD li a:active{ 
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;  
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;  

  }
  .threeD li a span{
    width: 67px;
    text-align: center;
    border: 1px dashed white;  
    display: inline-block;  
    text-align: center;
    padding: 10px 15px;
    color:white; 
    cursor: pointer;  
    background-color: #427391;   
  }

  .threeD li a:active span{
    background-color:#254b63;    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#254b63), to(#254b63));    
    background-image: -webkit-linear-gradient(#254b63, #254b63);    
    background-image: -o-linear-gradient(#254b63, #254b63);    
    background-image: linear-gradient(#254b63, #254b63);  
  }

  .map{
    width:70%;
    height:500px;
    margin:0px auto;
    margin-top: 30px;
  }

  @media (max-width: 500px){
    .town{
      margin-bottom: 100px;
      top: 81px;
      font-size: 18px;
    }
    .wrapper .grids .main .greyOne {
      font-size: 8px !important;
    }

    .header{
      font-size: 20px !important;
    }
  }

  @media (max-width: 400px){
    .wrapper .grids .header{
      font-size: 12px !important;
    }
  }

  @media (max-width: 760px){
    .wrapper .grids .main .greyOne {
      font-size: 14px !important;
      padding: 10px;
    }

  }

  @media (max-width: 600px){
    .wrapper .grids .main .greyOne {
      font-size: 8px !important;
      
    }
    .banner{
      display: none
    }
  }

  @media (max-width: 880px){

    .town{
      margin-bottom: 100px;
    }
  }

  @font-face {
    font-family: 'CenturyGothic';
    src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic.woff') format('woff'), url('fonts/CenturyGothic.ttf')  format('truetype'), url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  *{
    margin:0;
    padding:0;
    font-family:CenturyGothic !important;
    font-size:100%;
    border-collapse:collapse;
  }

  .gerbCenter{
    width:64%;
    height:auto;
    margin: 0 auto;
  }

  .ticker {
    border: none!important;
    background: none!important;
    line-height: auto;
  }

  .top {
    margin-top: 30px!important;
  }

  .intro {
    padding: 10px 0;
    color: #999;
  }

  td>div{
    text-align: left;
  }

  .flexslider p{
    text-align: center !important;
  }

  .grid-10 .flexslider p{
    text-align: left !important;
  }

  .flexslider{
    margin-bottom: 20px !important;
  }

  #footer {
    border-radius: 10px;
    background-color: #427391;
    color: #fff;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }

  .social {
    text-align: right;
    position: relative;
    margin: 4px 0;
    padding-top: 6px;
  }



  body{
    background:url(pic/5.gif) repeat;
  }
  h1{
    text-align:center;
    font-size:0.9em;
    margin:10px 0;
    padding:0 10px;
  }
  h2{
    text-align:center;
    font-size:0.8em;
    margin:10px 0;
  }
  h3{
    text-align:center;
    font-size:0.8em;
    margin:10px 0;
  }
  h4{
    text-align:center;
    font-size:0.8em;
    margin:10px 0;
  }
  h5{
    text-align:center;
    font-size:0.8em;
    margin:10px 0;
  }
  h6{
    text-align:center;
    font-size:0.8em;
    margin:10px 0;
  }
  strong{
    color:#427391;
  }
  strong1{
    color:#427391;
  }
  img{max-width:100%;}
  .mdiv{
    background:#ffffff;
    margin-left:auto;
    margin-right:auto;
    max-width: 1075px;
    min-width:240px;
  }
  .logo{width:100%;}
  .hormenu{
    background:#427391;
  }
  .hormenu table{
    width:100%;
  }
  .hormenu table{
    height:40px;
  }
  .hormenu td{width:10%;}
  .hormenu td.c2{width:20%;}
  table td{
    text-align:left;
    border:1px solid #FFFFFF;
  }
  table.t1{
    margin:5px auto;
    max-width:800px;
  }
  table.t1 td{width:10%;}
  table.t1 td:nt-child(1){width:40%;}
  table.t2{width:100%;}
  table.t3{width:100%;}
  table.t3 .caption{
    color:#427391;
    font-weight:700;
    padding:12px 0;
  }
  table.t_4col{width:100%;margin:10px auto;}
  .hormenu a:link{
    color:#FFFFFF;
    text-decoration:none;
  }
  .hormenu a:visited{
    color:#FFFFFF;
    text-decoration:none;
  }
  .hormenu a:hover{
    color:#FFFFFF;
    text-decoration:none;
  }
  .hormenu a:active{
    color:#FFFFFF;
    text-decoration:none;
    font-size:100%;
  }
  .text p{
    font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    padding:1px 20px 0 20px;
    font-size:0.9em;
    text-align:justify;
  }
  .text ul{
    margin:0 40px;
  }
  .text ul li{
    font-size:0.9em;
  }
  .text a:link{
    color:#427391;
  }
  .text a:visited{
    color:#427391;
  }
  .text a:hover{
    color:#427391;
    font-family:Arial, Helvetica, sans-serif;
  }
  #cats{
    max-width:630px;
    margin:20px auto;
  }
  #cats td{
    width:150px;
    font-size:0.9em;
  }
  #price{
    margin-left:auto;
    margin-right:auto;
    width:95%;
    border:1px solid #000000;
  }
  #price td{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    color:#000000;
    border:1px solid #000000;
    padding:0 10px;
    text-align:left;
  }
  #price td:nth-child(1){width:82%;}
  #price td:nth-child(2){width:18%;}
  .price{
    margin-left:auto;
    margin-right:auto;
    width:95%;
    border:1px solid #000000;
  }
  .red{
    color:#427391;
  }
  #sv{
    margin:20px auto;
  }
  #sv td{
    padding:0 10px;
  }
  #sv td p{
    text-align:center;
  }
  #sv2{
    margin:20px auto;
  }
  #sv2 td{
    padding:0 10px;
  }
  #sv2 td p{
    text-align:center;
  }
  .fp{
    margin:20px auto;
  }
  .fp td{
    text-align:center;
  }
  .cntr{
    text-align:center;
  }
  #about{
    margin:5px auto;
  }
  #about td{
    text-align:left;
  }
  #about td ul{
    line-height:15px;
  }
  .fp4{
    margin:5px auto;
  }
  .fp4 td{
    text-align:left;
    font-size:0.8em;
    vertical-align:top;
  }
  .fp4 td ul{
    line-height:15px;
  }
  .fg{
    margin:0 auto;
    width:620px;
    height:450px;
  }
  a.gallery, a.gallery:visited{
    display:inline;
    color:#000;
    text-decoration:none;
    border:1px solid #000;
    width:75px;
    height:50px;
    float:left;
    margin:7px 21px;
    position:relative;
    cursor:default;
  }
  a.slide1{
    background:url(photogal/01.jpg);
  }
  a.slide2{
    background:url(photogal/02.jpg);
  }
  a.slide3{
    background:url(photogal/03.jpg);
  }
  a.slide4{
    background:url(photogal/04.jpg);
  }
  a.slide5{
    background:url(photogal/05.jpg);
  }
  a.slide6{
    background:url(photogal/06.jpg);
  }
  a.slide7{
    background:url(photogal/07.jpg);
  }
  a.slide8{
    background:url(photogal/08.jpg);
  }
  a.slide9{
    background:url(photogal/09jpg);
  }
  a.slide10{
    background:url(photogal/10.jpg);
  }
  a.slide11{
    background:url(photogal/11.jpg);
  }
  a.slide12{
    background:url(photogal/12.jpg);
  }
  a.slide13{
    background:url(photogal/13.jpg);
  }
  a.slide14{
    background:url(photogal/14.jpg);
  }
  a.slidek15{
    background:url(photogal/15.jpg);
  }
  a.gallery span{
    visibility:hidden;
    display:block;
    position:absolute;
    width:590px;
    height:320px;
    top:29px;
    left:9px;
    color:#000;
    text-align:center;
    border:0px solid #fff;
    font-family:tahoma, geneva, "lucida sans unicode", "lucida grande", verdana, sans-serif;
    letter-spacing:1px;
    cursor:default;
  }
  a.slide1 span{
    left:-13px;
    top:195px;
  }
  a.slide2 span{
    left:-132px;
    top:195px;
  }
  a.slide3 span{
    left:-251px;
    top:195px;
  }
  a.slide4 span{
    left:-370px;
    top:195px;
  }
  a.slide5 span{
    left:-489px;
    top:195px;
  }
  a.slide6 span{
    left:-13px;
    top:125px;
  }
  a.slide7 span{
    left:-132px;
    top:125px;
  }
  a.slide8 span{
    left:-251px;
    top:125px;
  }
  a.slide9 span{
    left:-370px;
    top:125px;
  }
  a.slide10 span{
    left:-489px;
    top:125px;
  }
  a.slide11 span{
    left:-13px;
    top:60px;
  }
  a.slide12 span{
    left:-132px;
    top:60px;
  }
  a.slide13 span{
    left:-251px;
    top:60px;
  }
  a.slide14 span{
    left:-370px;
    top:60px;
  }
  a.slide15 span{
    left:-489px;
    top:60px;
  }
  a.gallery:hover{
    white-space:normal;
    border:1px solid #fff;
    z-index:100;
  }
  a.gallery:hover span{
    visibility:visible;
    z-index:100;
  }
  a.gallery:hover span img{
    margin:10px;
    border:1px solid #000;
    position:relative;
    z-index:100;
  }
  a.gallery:active, a.gallery:focus{
    border:1px solid #c00;
    z-index:10;
  }
  a.gallery:active span, a.gallery:focus span{
    visibility:visible;
    z-index:10;
  }
  a.gallery:active span img, a.gallery:focus span img{
    border:1px solid #000;
    position:relative;
    margin:10px;
    z-index:10;
  }
  .flor2{
    float:right;
    border:none;
    margin:10px;
  }
  p{
    font-size:24px;
  }


  .banner{text-align: center;}

  .popup{
    position:relative;
    z-index:1;
  }
  .popup:hover{
    background-color:transparent;
    z-index:2;
  }
  .popup span{
    display:none;
    max-width:98%;
    position:absolute;
    z-index:1;
  }
  .popup span img{
    border-width:0;
    max-width:none;
    padding:2px;
  }
  .popup:hover span{display:block;}
  @media screen and (max-width:1100px){
    .popup span{right:1%;}
  }
  .street{
    width:620px;
    margin:10px auto;
    vertical-align:top;
  }
  .street td{
    vertical-align:top;
    font-size:0.8em;
  }
  #bhr {
    background: #EFEFEF;
    border-radius: 10px;
    top: 93%;
    display: block;
    font-size: 20px;
    padding: 13px 15px;
    position: fixed;
    right: 5px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease-out;
  }

  #bhr:hover {
    color: white;
    background: #427391;
  }
  @media screen and (max-width:650px){
    table.t_4col td{
      display:inline-block;
      width:47%;
    }
  }
  @media screen and (max-width:600px){
    .hormenu table{text-align:center;}
    .hormenu td{
      border:medium none;
      display:inline-block;
      padding:5px 5%;
      vertical-align:middle;
      width:auto;
    }
    .hormenu td:nt-child(2){width:30%;}
    table.t2 td,table.t3 td{
      display:inline-block;
      width:100%;
    }
  }
  @media screen and (max-width:500px){
    #price td:nth-child(1){width:75%;}
    #price td:nth-child(2){width:25%;}
  }
  @media screen and (max-width:450px){
    .hormenu td:nt-child(2){width:40%;}
    table.t1 td{
      display:inline-block;
      text-align:center;
      width:100%;
    }
    table.t1 td p{text-align:center;}
    table.t_4col{width:98%;}
  }
  @media screen and (max-width:390px){
    table.t_4col td{width:99%;}
    table.t1{width:99%;}
  }
  @media screen and (max-width:330px){
    .hormenu td.c2, .hormenu td{
      padding:3px 0;
      width:90%;
    }
  }

  .town h1{
    color: white;
  }